var scheme   = "<%= @scheme %>";
var uri      = scheme + window.document.location.host + "/";
var ws       = new WebSocket(uri);
ws.onmessage = function(message) {
  var data = JSON.parse(message.data);
  $("#chat-text").append("<li class='self'><div class='avatar'><img src='/assets/images/profile.png' alt='profile avatar'/></div><div class='messages'><p>" + data.handle + ":" + data.text + "</p></div></li>");
  $("#chat-text").stop().animate({
    scrollTop: $('#chat-text')[0].scrollHeight
  }, 800);
};

$("#input-form").on("submit", function(event) {
  event.preventDefault();
  var handle = $("#input-handle")[0].value;
  var text   = $("#input-text")[0].value;
  ws.send(JSON.stringify({ handle: handle, text: text }));
  $("#input-text")[0].value = "";
});
