<html>
  <head>
    <title>EpiChatus</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/icon.gif"/>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/assets/css/application.css">
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <script type="text/javascript" src="/assets/js/application.js"></script>
  </body>
</html>
