@import url(http://weloveiconfonts.com/api/?family=typicons);
[class*="typicons-"]:before {
  font-family: 'Typicons', sans-serif;
}

/*
Project Name: Epichat
Client: Ruby Epicodus
Author: Liam Ellis, Aestheke Inc.

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clear {clear: both;}

@font-face {
  font-family: earth;
  src: url(../fonts/earth.ttf);
}
@font-face {
  font-family: future;
  src: url(../fonts/future.ttf);
}
@font-face {
  font-family: bira;
  src: url(../fonts/bira.ttf);
}
@font-face {
  font-family: better;
  src: url(../fonts/better.ttf);
}
body {
  margin: auto;
  display: block;
}
.index_background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -5;
  background: url(../images/background.jpeg) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: 105% 100%;
}
.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.2);
}
header {
  width: 100%;
}
nav {
  width: 100%;
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#user_nav {
  margin-top: 4%;
}
#dashboard {
  font-family: bira;
  font-size: 50px;
  color: white;
  text-align: left;
}
#user_home {
  text-align: right;
}
li {
  display: inline;
  flex-grow: 1;
  font-family: future;
  line-height: 32px;
  font-size: 15px;
  color: white;
  text-align: center;
}
li:hover {
  text-shadow: 1px 1px 1px white;
}
a, a:hover, a:after, a:focus {
  color: inherit;
  text-decoration: none;
}
main {
  position: relative;
  top: 45%;
  display: block;
  margin: auto;
}
.title {
  font-family: earth;
  font-size: 50px;
  text-align: center;
  text-shadow: 1px 1px 1px white;
}
.notice {
  margin: auto;
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 2%;
  left: 0;
  bottom: 200px;
  color: white;
  font-family: future;
}
.login, .signin {
  margin: auto;
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 2%;
  left: 0;
  bottom: 50px;
  color: white;
  font-family: future;
  display: none;
}
.signin {
  bottom: 10px;
}
#log, #sign {
  display: block;
}
#log input, #sign input {
  background-color: transparent;
  border: gray;
  border-bottom: 1px solid white;
}
#log label, #sign label {
  margin: 1%;
}
#signout, .users, .exit {
  background:none!important;
  border:none;
  padding:0!important;
  font: inherit;
  cursor: pointer;
}
.user_button {
  margin: 2%;
  border: none;
  background-color: transparent;
}
.online_bubble {
  float: left;
}
.glyphicon {
  font-size: 25px;
  color: white;
}
.dashboard {
  margin-top: 5%;
  width: max-content;
}
.dashboard h2 {
  font-family: better;
  color: white;
  font-size: 60px;
}
/*add this on the chat button click*/
/*style li tabs on the bottom of browser for every current chat, facebook style*/
.underline {
  font-style: underline;
}
.profile {
  height: 40px;
  width: 40px;
  margin: 10px;
}

/*****************************************************/
/*conversations*/

/*.chat-wrapper {
  bottom: 0;
  left: 0;
  position: absolute;
  display: flex;
  width: 100%;

}*/
.module {
  width: 750px;
  margin-top: 30px;
  height: 60%;
  align-self: flex-end;
}
.top-bar {
  background: #666;
  color: white;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
}
.top-bar h1 {
  display: inline;
  font-size: 1.1rem;
}
.top-bar .typicons-message {
  display: inline-block;
  padding: 4px 5px 2px 5px;
}
.top-bar .typicons-minus {
  position: relative;
  top: 3px;
}
a.plus {
  display: none;
}
.exit_form {
  display: inline-block;
  margin-bottom: 0;
}
.text_input {
  align-self: flex-end;
  width: 650px;
  box-shadow: inset 0px 0px 10px 0px #ABABAB;
    -webkit-box-shadow: inset 0px 0px 10px 0px #ABABAB;
    -moz-box-shadow: inset 0px 0px 10px 0px #ABABAB;
    -o-box-shadow: inset 0px 0px 10px 0px #ABABAB;
  height: auto;
  float: left;
}
.text_input:focus {
  outline: none !important;
  border:1px solid lightblue;
}
.send {
  font-family: future;
  display: inline;
  width:100px;
  height: 53px;
  background-color: white;
}
textarea {
  resize: none;
}
.top-bar .left {
  float: left;
}
.top-bar .right {
  float: right;
  padding-top: 5px;
}
.top-bar > * {
  position: relative;
}
.top-bar::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  bottom: -100%;
  opacity: 0.25;
  background: radial-gradient(#ffffff, #000000);
  animation: pulse 1s ease alternate infinite;
}
.discussion {
  list-style: none;
  background: rgba(229,229,229, .5);
  margin: 0;
  padding: 0 0 50px 0;
  height: 700px;
}

.discussion li {
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
}
.discussion .avatar {
  width: 10%;
  position: relative;
}
.discussion .avatar img {
  display: block;
  width: 100%;
}
.other .avatar:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 5px solid white;
  border-left-color: transparent;
  border-bottom-color: transparent;
}
.self {
  justify-content: flex-end;
  align-items: flex-end;
}
.self .messages {
  order: 1;
  border-bottom-right-radius: 0;
}
.self .avatar {
  order: 2;
}
.self .avatar:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 5px solid white;
  border-right-color: transparent;
  border-top-color: transparent;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.messages {
  width: 90%;
  color: black;
  text-align: left;;
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.messages p {
  font-size: 0.8rem;
  margin: 0 0 0.2rem 0;
  line-height: 2em;
  letter-spacing: .1em;
}
.messages time {
  font-size: 0.7rem;
  color: #ccc;
}
@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

/*****************************************************/
/*users list*/

.chats_icon {
  margin-left: 15px;
  cursor: pointer;
}
#chats_arrow_down {
  display: none;
}
.chat_div {
  overflow-y: auto;
  height: 70%;
  width:100px;
  padding-right: 25px;
}
.chat_div, .chats {
  width: max-content;
}
.chats {
  margin-left: 30px;
}
.chat {
  display: block;
  font-family: future;
  font-size: 15px;
  text-align: left;
  margin-left: 60px;
}
.chat img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
